# Python Basics Assignment

Q1. Using Python script as a calculator. Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above

In [1]:
n = 10
r = 5
p = 100

In [2]:
A = p * (1 + r/ 100) ** n

In [3]:
print(A)

162.8894626777442

Ans1. 162.89 - option b.

Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above

In [4]:
A = 10
B = 20

In [24]:
string = "There are {} students in the class, with {} who play at least one sport."

In [25]:
 print(string.format(A,B))

There are 10 students in the class, with 20 who play at least one sport.

In [26]:
 print(string+A+B)

TypeError: can only concatenate str (not "int") to str

In [27]:
print(string.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

Ans2. option a & d.

Q3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.

Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000

In [37]:
x = lambda a,b: a//b

In [38]:
x(10,3)

3

Ans3. 3 - option b

Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above

In [39]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

Ans4. Greater - option c

In [ ]:
Q6. What will be the output of the following code?
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print (my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)
a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above

In [41]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print (my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

Ans6. NameError - option c

In [ ]:
Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the 
substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]

In [42]:
string1 = 'Machine learning'

In [43]:
string1[slice(13,8,1)]

''

In [44]:
string1[slice(1,8,1)]

'achine '

In [45]:
string1[slice(8:14)]

SyntaxError: invalid syntax (2747607968.py, line 1)

In [46]:
string1[slice(8,13,1)]

'learn'

Ans7. string1[slice(8,13,1)] - option d

Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the value 18?
a. 3
b. 2
c. 0
d. 1

In [50]:
sequence = range (10,25,4)
print(list(sequence))

[10, 14, 18, 22]

In [52]:
index = list(sequence).index(18)
print(index)

2

Ans8. 2 - option b

In [ ]:
Which of the following is true with respect to the below codes?
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2

In [53]:
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

625 625

Ans9. num1 = num2 - opttion a

In [ ]:
Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

Ans10. option a & c

In [ ]:
Q11.What type of exception will be raised for the code given below?
x = "string"
x(int)

a. NameError
b. KeyError
c. ValueError
d. AttributeError

In [56]:
x = "string"
x(int)

TypeError: 'str' object is not callable

Ans11. Attribute Error - option d

Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory

Ans12. option b & d

Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean

Ans13. Character - option b

Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above

Ans14. All of the above - option d

Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #

Ans15. # - option d

In [ ]:
Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:
Country- India China Japan Qatar France
State- Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [58]:
Country = {"India": "Delhi", "China": "Beijing", "Japan": "Tokyo", "Qatar": "Doha", "France": "Marseilles"}

In [59]:
Country ["France"] = "Paris"

In [60]:
Country.update ({"France": "Paris"})

Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45

In [61]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

In [62]:
sum(tuple_1)

27

In [63]:
len(tuple_2)

3

In [64]:
tuple_2 + tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [65]:
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

Ans17. tuple_1[3] = 45 - option d

Q18. How many elements in the following data structure?
S={1,2,3,4,4,4,5,6}

In [67]:
S={1,2,3,4,4,4,5,6}
print(S)

{1, 2, 3, 4, 5, 6}

Ans18. 6 Elements

Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N